.pupperCard{
  max-width: 10em;
  max-height: 20em;
}

img{
  max-width: 10rem;
  max-height: 20rem;
}

.flex{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 25%;
  background-color: antiquewhite;
  padding: 3%;
}

.button{
  max-width: 25%;
}

.submit{
  background-color: rgb(236, 88, 117);
}